<module>
	<rawname>conferences</rawname>
	<repo>standard</repo>
	<name>Conferences</name>
	<version>15.0.7.11</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>Allow creation of conference rooms where multiple people can talk together</description>
	<more-info>https://wiki.freepbx.org/display/FPG/Conferences+Module</more-info>
	<changelog>
		*15.0.7.11* FREEI-3556:  stop using channel's accountcode for sangomartapi conference app 
		*15.0.7.10* FREEI-3507: delete entries from restapps_rtapi_conferences db table when a conference extension is deleted 
		*15.0.7.9* FREEI-3352: if /AMPUSER/ext/accountcode is set to u+userId, set it as the accountcode when a conference room is called 
		*15.0.7.8* Packaging of ver 15.0.7.8
		*15.0.7.7* Packaging of ver 15.0.7.7
		*15.0.7.6* Packaging of ver 15.0.7.6
		*15.0.7.5* Packaging of ver 15.0.7.5
		*15.0.7.4* Related to FREEPBX-20414: removed $jobid from runRestore() 
		*15.0.7.3* FREEPBX-20205 
		*15.0.7.2* FREEPBX-20105 Conference entries flushed while doing backup restore. 
		*15.0.7.1* Fixing FREEPBX-20108
		*15.0.7* FREEI-556
		*15.0.6.7* FREEPBX-18676 Configuration File Link removed(http://freepbx.org/configuration_files) 
		*15.0.6.6* FREEPBX-19392 Bulk handler allows to upload and create conference 
		*15.0.6.5* Fixing FREEPBX-17867 
		*15.0.6.4* Adding feature codes and kvstore to backup
		*15.0.6.3* fixing legacy restore
		*15.0.6.2* FREEPBX-19392 Bulk handler allows to upload and create conference with empty Conference Number Field.
		*15.0.6.1* Backup and restore
		*15.0.6* FREEPBX-18570 Conference PIN allows alphanumeric and special characters to set as password
		*15.0.5* Fixing problems in Backup 15 (Restore Part)
		*15.0.4* Rest Api
		*15.0.3* Packaging of ver 15.0.3
		*15.0.2* Bugfix/FREEPBX-13464 ext-meetme context does not use hangupcall macro
		*13.0.23.11* Fork to 15.0, add backup
	</changelog>
	<depends>
		<module>recordings ge 13.0.2</module>
		<version>13.0.191.12</version>
	</depends>
	<menuitems>
		<conferences needsenginedb="yes">Conferences</conferences>
	</menuitems>
	<popovers>
		<conferences>
			<display>conferences</display>
			<view>form</view>
		</conferences>
 	</popovers>
    <database>
        <table name="meetme">
            <field name="exten" type="string" length="50" primarykey="true"/>
            <field name="options" type="string" length="15" notnull="false"/>
            <field name="userpin" type="string" length="50" notnull="false"/>
            <field name="adminpin" type="string" length="50" notnull="false"/>
            <field name="description" type="string" length="50" notnull="false"/>
            <field name="joinmsg_id" type="integer" notnull="false"/>
            <field name="music" type="string" length="80" notnull="false"/>
            <field name="users" type="smallint" default="0" unsigned="true" notnull="false"/>
            <field name="language" type="string" length="10" default=""/>
            <field name="timeout" type="integer" default="21600" unsigned="true" notnull="false"/>
        </table>
    </database>
	<hooks>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
			<method callingMethod="getHeaders" class="Conferences" namespace="FreePBX\modules">bulkhandlerGetHeaders</method>
			<method callingMethod="getTypes" class="Conferences">bulkhandlerGetTypes</method>
			<method callingMethod="validate" class="Conferences" namespace="FreePBX\modules">bulkhandlerValidate</method>
			<method callingMethod="import" class="Conferences" namespace="FreePBX\modules">bulkhandlerImport</method>
			<method callingMethod="export" class="Conferences" namespace="FreePBX\modules">bulkhandlerExport</method>
		</bulkhandler>
		<printextensions class="Printextensions" namespace="FreePBX\modules">
			<method callingMethod="getSections" class="Conferences" namespace="FreePBX\modules">printExtensions</method>
		</printextensions>
	</hooks>
	<supported>
		<version>15.0</version>
	</supported>
</module>