<module>
	<rawname>conferences</rawname>
	<name>Conferences</name>
	<version>1.0.1</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<conferences>Conferences</conferences>
	</menuitems>
	<location>release/conferences-1.0.1.tgz</location>
	<info>http://freepbx.org/wiki/Conferences</info>
	<md5sum>f408ba88dfd98093afbfb23c4fdbb300</md5sum>
</module>
